@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));




@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.home-banner {
  background-image: url("/sky-bg.png");
  background-size: cover;
  background-position: center;
}
